* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);  
    color: #fff;
    font-family: 'Play', sans-serif;
    overflow-y: scroll;
    padding-top: 5rem;
    position: relative;
}

.todo-header {
    font-family: 'Courgette', cursive;
    font-size: 1.5rem;
}

.todo-header, 
.todo-form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-input, 
.todo-button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: #fff;
    outline: none;
}

.todo-input {
    border-radius: 8px 0px 0px 8px;
}
.todo-button{
    border-radius: 0 8px 8px 0px;
}

.todo-button {
    color: #8BC6EC;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.todo-button:hover {
    background: #8BC6EC;
    color: #fff;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style-type: decimal;
}

.todo-div  {
    margin: 0.5rem;
    background: #fff;
    color: #000;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo-item {
    flex: 1;
    padding: 0 0.5rem;
}

.complate-btn,
.trash-btn {
    background: rgb(221, 107, 107);
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complate-btn {
    background: rgb(80, 177, 80);
}

.fa-trash, 
.fa-check {
    pointer-events: none;
}

.complated {
    opacity: 0.5;
    text-decoration: line-through;
}

.fall {
    transform: translateY(8rem) rotateZ(-30deg);
    opacity: 0;
}


/* MODAL */
.modal {
    width: 30%;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.5) 100%, rgba(255, 0, 0, 0.5) 100%);
    border: solid red 1px;
    padding: 1rem 0.5rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 8px;
    opacity: 0.6;
}
.greenModal {
    width: 30%;
    background: linear-gradient(to right, rgba(0, 255, 0, 0.5) 100%, rgba(0, 255, 0, 0.5) 100%);
    border: solid green 1px;
    padding: 1rem 0.5rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 8px;
    opacity: 0.6;
}

.hidden {
    display: none;
}
